@{
    ViewBag.Title = "Archeology";
}

@{
    ViewBag.Header = "Archeology information about Gorazde";
}

<body class="infosadrzaj">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-1"></div>
                <div class="hero">
                    <hgroup>
                        <h1 class="white">Archeology</h1>
                    </hgroup>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-2"></div>
                <div class="hero">
                    <hgroup></hgroup>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-3"></div>
                <div class="hero">
                    <hgroup></hgroup>
                </div>
            </div>
        </div>
    </div>
    <div class="sadrzaj">
        <h3>@ViewBag.Header</h3>
        <hr />
        <h4></h4>
        <p>
          
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </p>
        <form style="display: inline" action="http://52.29.34.251/Home/Notice" method="get">
            <button class="btn btn-hero btn-lg" role="button">Learn more</button>
        </form>
    </div>

</body>

<style>
    .infosadrzaj {
        background: url(https://github.com/Nurdoidz/Typogra-Voat/blob/master/Img/Bg-1.png?raw=true);
    } 
          /*orange;#cddc39;*/
    
</style>